<div class="">
  <header class="py-2 px-3">
    <h2 class="font-bold text-lg">Home</h2>
    <div
      class="HoverGrayAnimation w-10 h-10 rounded-full grid place-items-center"
    >
      <ng-icon name="hero-sparkles" size="28"></ng-icon>
    </div>
  </header>

  <!-- Create Post  -->

  <create-post></create-post>

  <section class="relative w-full">
    <!-- Spinner for Loading Feeds  -->
    <div
      *ngIf="loadingFeeds$ | async"
      class="flex flex-col my-auto mt-4 items-center justify-center w-full h-full"
    >
      <project-blue-spinner></project-blue-spinner>
    </div>

    <!-- List of Posts -->
    <ng-container *ngIf="feeds$ | async as feeds">
      <post-box *ngFor="let feed of feeds" [post]="feed"> </post-box>
    </ng-container>
  </section>
</div>
