input {
  width: 100%;
  background: inherit;
  border: 1px solid white;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  padding-left: 10px;

  &:focus {
    outline: 0;
  }
}

input.error {
  border: 1px solid red;
  color: var(--error-red);
}

p {
  color: var(--error-red);
}
