<input
  type="text"
  [type]="type"
  [placeholder]="placeholder"
  [class.error]="control.touched && control.dirty && control.invalid"
  [formControl]="control"
/>

<ng-container *ngIf="control.touched && control.dirty && control.touched">
  <p *ngIf="control.errors?.required">{{ placeholder }} is required</p>

  <p *ngIf="control.errors?.minlength">
    {{ placeholder }} must be at least
    {{ control.errors.minlength.requiredLength }} characters
  </p>

  <p *ngIf="control.errors?.maxlength">
    {{ placeholder }} must be at most
    {{ control.errors.maxlength.requiredLength }} characters
  </p>

  <p *ngIf="control.errors?.usernameExists">
    {{ placeholder }} is already taken
  </p>
</ng-container>
