<section class="flex border-b border-gray-700 py-2 px-3">
  <!-- Profile Picture -->
  <div class="w-[50px] h-[50px] bg-blue-500 rounded-full mr-4"></div>
  <!-- Post Content -->
  <main class="flex flex-col w-full space-y-2">
    <!-- Name and time -->
    <div class="flex items-center group text-[#6e767d] justify-between">
      <div class="flex">
        <h4
          class="font-bold text-[15px] sm:text-base text-[#d9d9d9] group-hover:underline mr-0.5"
        >
          Kelvin
          {{ ' ' }}
        </h4>
        <span>@kelvin__ose {{ ' ' }} .</span>
        <span>6h</span>
      </div>
      <div class="icon">
        <ng-icon name="hero-dots-horizontal" size="22"></ng-icon>
      </div>
    </div>
    <!-- Post text if any  -->
    <!-- Todo: add a check to see if the post has a text -->
    <p class="text-[#d9d9d9] mt-0.5 text-xl">
      Lorem ipsum dolor sit amet,lement is a generic inline container for
      phrasing content, which does not inherently represent anything. It can be
      used to group elements for styling purposes .
    </p>

    <!-- Post Image if Any -->
    <img
      class="rounded-2xl max-h-[450px] object-cover mr-2"
      alt="post image"
      src="https://pbs.twimg.com/media/FQenRS_WYAw6BKt?format=jpg&name=small"
    />

    <!-- Icons Group -->
    <section class="w-full">
      <div class="flex items-center w-[80%] justify-between">
        <!-- Chat Icon  -->
        <div class="postBox__icon chat-icon">
          <div class="svg__icon_wrapper">
            <ng-icon class="svg__icon" name="hero-chat" size="20"></ng-icon>
          </div>
          <span class="chat-icon__text">1</span>
        </div>
        <!-- Retweet Icon -->
        <div class="postBox__icon retweet-icon">
          <div class="svg__icon_wrapper">
            <ng-icon
              class="svg__icon"
              name="feather-repeat"
              size="20"
            ></ng-icon>
          </div>
          <span class="retweet-icon__text">10</span>
        </div>

        <!-- Like Icon -->
        <div class="postBox__icon heart-icon">
          <div class="svg__icon_wrapper">
            <ng-icon class="svg__icon" name="hero-heart" size="20"></ng-icon>
          </div>
          <span class="heart-icon__text">2</span>
        </div>

        <!-- Share icon -->
        <div class="postBox__icon chat-icon">
          <div class="svg__icon_wrapper">
            <ng-icon class="svg__icon" name="hero-share" size="20"></ng-icon>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
