<section class="flex border-b border-gray-700 py-3">
  <!-- Profile Picture -->
  <
  <div class="w-[50px] h-[50px] bg-blue-500 rounded-full mr-4"></div>

  <!-- Post Content -->
  <main class="flex flex-col w-full space-y-2">
    <!-- Name and time -->
    <div class="flex items-center group text-[#6e767d] justify-between">
      <div class="flex">
        <h4
          class="font-bold text-[15px] sm:text-base text-[#d9d9d9] group-hover:underline mr-0.5"
        >
          Kelvin
          {{ ' ' }}
        </h4>
        <span>@kelvin__ose {{ ' ' }} .</span>
        <span>6h</span>
      </div>
      <div class="icon">
        <ng-icon name="hero-dots-horizontal" size="22"></ng-icon>
      </div>
    </div>
    <!-- Post text if any  -->
    <!-- Todo: add a check to see if the post has a text -->
    <p class="text-[#d9d9d9] mt-0.5 text-xl">
      Lorem ipsum dolor sit amet,lement is a generic inline container for
      phrasing content, which does not inherently represent anything. It can be
      used to group elements for styling purposes (using the class or id
      attributes), or because they share attribute values, such as lang. It
      should be used only when no other semantic element is appropriate.
    </p>

    <!-- Post Image if Any -->
    <img
      class="rounded-2xl max-h-[700px] object-cover mr-2"
      alt="post image"
      src="https://images.pexels.com/photos/2564475/pexels-photo-2564475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    />

    <!-- Icons Group -->
    <section class="w-full">
      <div class="icon space-x-2 flex items-center w-[80%] justify-between">
        <div class="flex items-center space-x-1 group">
          <div class="icon group-hover:bg-pink-600/10">
            <ng-icon
              name="hero-heart"
              size="22"
              class="group-hover:text-pink-600 h-5"
            ></ng-icon>
          </div>
          <span class="group-hover:text-pink-600 text-sm"> 3 </span>
        </div>

        <div class="flex items-center space-x-1 group ml-3">
          <div class="icon group-hover:bg-green-600/10">
            <ng-icon
              name="feather-repeat"
              size="22"
              class="group-hover:text-green-600"
            ></ng-icon>
          </div>
        </div>

        <div></div>
      </div>
    </section>
  </main>
</section>
