@tailwind components;

@layer components {
  .title__text {
    @apply text-[#E7E9EA] w-full break-words  text-opacity-80 font-bold  text-[40px] sm:text-7xl leading-10 tracking-wide my-[48px];
  }
  .title__subtext {
    @apply text-[#E7E9EA] w-full break-words mb-[32px] text-lg sm:text-[32px] font-bold capitalize;
  }

  .signup__container {
    @apply rounded-full h-[60px] py-2 w-full;
  }
  .email__signup_container {
    @apply max-w-[300px] w-full h-full bg-[#1DA1F2] text-white flex items-center justify-center text-base font-bold rounded-full;
  }
  .google__container {
    @apply max-w-[300px] w-full h-full rounded-full bg-white flex items-center justify-between px-3;
  }
  .signin__button {
    @apply max-w-[300px] w-full text-white text-lg rounded-full h-[50px] flex items-center justify-center mt-[1rem];
  }
}

.signin__button {
  min-width: 36px;
  width: 300px;
  border: 1px solid rgb(83, 100, 113);
  color: rgb(29, 155, 240);
  font-weight: bold;
  background: rgba(0, 0, 0, 0);

  &:hover {
    background: rgba(29, 155, 240, 0.1);
  }
}

.left-side {
  background: url('https://abs.twimg.com/sticky/illustrations/lohp_en_850x623.png');
  min-width: 50vw;
  min-height: 45vh;
  height: 500px;
  position: relative;
  padding: 32px;
  background-color: rgb(29, 155, 240);
  overflow: hidden;
  display: grid;
  place-items: center;

  @media screen and( min-width: 1024px) {
    height: 733px;
  }
}
