<nav
  class="hidden sm:flex flex-col items-center h-full p-2 xl:px-10 xl:w-[340px] xl:items-start fixed"
>
  <!--Bird  Logo Icon -->
  <div
    class="flex items-center justify-center xl:ml-[28px] w-14 h-14 mb-2 hover:rounded-full hover:bg-[#15202b]"
  >
    <img src="https://rb.gy/ogau5a" class="w-[30px] h-[30px]" />
  </div>

  <!-- menu icons list -->
  <section class="space-y-2.5 xl:ml-4">
    <div
      class="text-[#d9d9d9] flex items-center justify-center xl:justify-start space-x-3 group icon__wrapper"
      *ngFor="let icon of sidebarIconsList"
    >
      <ng-icon [name]="icon.name" size="28" class="h-7 w-6"></ng-icon>
      <h4 class="text-group text-xl hidden xl:inline">
        {{ icon.text | titlecase }}
      </h4>
    </div>
  </section>

  <!-- New Tweet Button -->
  <button
    class="hidden xl:block mx-auto bg-[#1d9bf0] min-h-[52px] mt-4 text-white rounded-full w-[90%] h-[52px] font-bold shadow-md hover:bg-[#1a8cd8]"
  >
    <a href="#" class="">Tweet</a>
  </button>

  <div class="relative items-center mt-auto text-white w-full">
    <!-- Profile options  -->
    <div *ngIf="showProfileOptions" class="optionsBox">
      <section class="optionsBox__profile">
        <section class="px-4 flex">
          <div class="rounded-full w-10 h-10 mr-3">
            <img
              [src]="profileImage | safeUrl"
              class="w-full h-full object-cover rounded-full"
              alt="profile image"
            />
          </div>
          <div class="flex flex-col text-sm">
            <span class="font-bold">Kelvin Ose</span>
            <span>@{{ currentUser?.username }}</span>
          </div>
        </section>
      </section>
      <section>
        <div class="optionsBox__logOut" (click)="handleLogOut()">
          Log out @{{ currentUser?.username }}
        </div>
      </section>
      <svg class="optionsBox__chevron" viewBox="0 0 24 24">
        <path
          d="M12.538 6.478c-.14-.146-.335-.228-.538-.228s-.396.082-.538.228l-9.252 9.53c-.21.217-.27.538-.152.815.117.277.39.458.69.458h18.5c.302 0 .573-.18.69-.457.118-.277.058-.598-.152-.814l-9.248-9.532z"
        ></path>
      </svg>
    </div>
    <!--   Profile Image and Name -->
    <section
      (click)="toggleProfileOptions()"
      class="cursor-pointer p-[12px] flex w-full HoverGrayAnimation"
    >
      <div class="rounded-full w-8 h-8 mr-3">
        <img
          [src]="profileImage | safeUrl"
          class="w-full h-full object-cover rounded-full"
          alt="profile image"
        />
      </div>
      <div class="hidden xl:flex flex-col text-sm">
        <span class="font-bold">Kelvin Ose</span>
        <span>@{{ currentUser?.username }}</span>
      </div>
      <h4 class="hidden xl:block ml-auto">
        <ng-icon name="hero-dots-horizontal" size="16"></ng-icon>
      </h4>
    </section>
  </div>
</nav>
