:root {
  --background-dark: hsl(0, 0%, 0%);
  --primary-blue: hsl(210, 100%, 50%);
  --overlay-dark: #242d34;
  --text-white: hsl(0, 0%, 100%);
  --error-red: hsl(0, 100%, 50%);
  --border-gray: rgb(55 65 81 /1);
}
