<html>
  <head>
    <title></title>
    <style>

    </style>
  </head>
  <body>

    <p>Hello, {{name}}</p>
      <p>You have been registered to the {{appName}} application.</p>
        <p>
          Please click on the following link to confirm your registration:
          <a href="{{url}}">{{url}}</a>
        </p>
  </body>
</html>
