.profile {
  width: 80%;
  max-width: 350px;
  margin: auto;
  display: block;
  position: relative;
  padding: 15px 0px;
  height: fit-content;

  &__usernameInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--text-white);

    & > input {
      border: 1px solid white;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      background: transparent;
      padding-left: 10px;

      &::placeholder {
        color: #ccc;
        padding-left: 10px;
      }

      &:focus {
        outline: 1px solid var(--primary-blue);
      }
    }

    & > input.has-error {
      border: 1px solid var(--error-red);
    }

    .errorMsg {
      color: var(--error-red);
      font-size: 12px;
    }
  }

  &__nextBtn {
    background-color: var(--primary-blue);
    color: var(--text-white);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-top: 1rem;

    &:disabled {
      background-color: rgba(74, 117, 118, 0.427);
      color: var(--text-white);
      cursor: not-allowed;
    }
  }
}
